@font-face {
  font-family: 'Montserrat';
  src:
    url('../public/fonts/montserrat-400.woff2') format('woff2'),
    url('../public/fonts/montserrat-400.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('../public/fonts/montserrat-500.woff2') format('woff2'),
    url('../public/fonts/montserrat-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('../public/fonts/montserrat-600.woff2') format('woff2'),
    url('../public/fonts/montserrat-600.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: 
    url('../public/fonts/montserrat-bold.woff2') format('woff2'),
    url('../public/fonts/montserrat-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* @font-face {
  font-family: 'Montserrat Alternates';
  src: 
    url('../public/fonts/MontserratAlternates-Bold.woff2') format('woff2'),
    url('../public/fonts/MontserratAlternates-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: 
    url('../public/fonts/MontserratAlternates-Regular.woff2') format('woff2'),
    url('../public/fonts/MontserratAlternates-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src:
    url('../public/fonts/MontserratAlternates-Medium.woff2') format('woff2'),
    url('../public/fonts/MontserratAlternates-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
} */

