@import 'normalize.css';
@import 'fonts.css';

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.grecaptcha-badge {
  visibility: hidden;
}

/* * {
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 25px;
}
*::-webkit-scrollbar-track {
  background: white;
  padding: 0 10px;
}
*::-webkit-scrollbar-thumb2 {
  background-color: blue;
  border-left: 10px solid white;
  border-right: 10px solid white;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  background: #F0F4F8;
  border-radius: 4px;
  min-height: 300px;
} */

.viled-calendar {
  background: #fff;
  border: none;
  border-radius: 20px;
  padding: 15px;
  overflow: hidden;
  }

.viled-calendar .react-datepicker__header {
  background: #fff;
  border: none;
}

.viled-calendar .react-datepicker__current-month {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  color: #627D98;
}

.viled-calendar .react-datepicker__navigation {
  outline: none;
  top: 29px;
}

.viled-calendar .react-datepicker__navigation.react-datepicker__navigation--previous {
  left: auto;
  right: 65px;
  border-right-color: #627D98;
}

.viled-calendar .react-datepicker__navigation.react-datepicker__navigation--next {
  right: 25px;
  border-left-color: #627D98;
}

.viled-calendar .react-datepicker__day-names {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.react-datepicker__day-name {
  font-family: 'Montserrat', sans-serif;
  color: #9FB3C8;
  display: block;
  font-weight: 500;
  font-size: 13px;
  padding: 5px;
}

.viled-calendar .react-datepicker__month {
  margin: 0;
}

.viled-calendar .react-datepicker__week {
  display: flex;
  justify-content: space-between;
}

.viled-calendar .react-datepicker__day {
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  color: #627D98;
  display: block;
  font-weight: 500;
  font-size: 13px;
  border-radius: 50%;
  outline: none;
  transition: all 0.2s;
}

.viled-calendar .react-datepicker__day.react-datepicker__day--selected {
  color: #fff;
  background: #4D77FB;
}

.viled-calendar .react-datepicker__day.react-datepicker__day--outside-month {
  color: #9FB3C8;
}
